
.button{
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 7px;
    -fx-padding: 10px;
}

.button:pressed{
    -fx-background-color: #939393;
}

.button:hover{
    -fx-background-color: #ffffff;
}

.text-field{
    -fx-background-radius: 7px;
    -fx-font-size: 20px;
}

.alert{
    -fx-background-color: #ff0000;
    -fx-text-fill: #ff0000;
}

@font-face{
    font-family: "Alata";
    src: url('/fonts/Alata-Regular.ttf');
}

#scoreTextId{
    -fx-font-family: "Alata";
    -fx-font-size: 30px;
}

*{
    -fx-font-family: "Alata";
}

.basic-text{
    -fx-font-size: 20px;
}

.big-header-text{
    -fx-font-size: 75px;
}

.round-text{
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-padding: 20px;
}

.small-button-text{
    -fx-font-size: 20px;
}

.big-button-text{
    -fx-font-size: 30px;
}

.help-header-text{
    -fx-font-size: 40px;
}

.help-text{
    -fx-font-size: 30px;
}