
.button{
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 7px;
    -fx-padding: 10px;
}

.button:pressed{
    -fx-background-color: #939393;
}

.button:hover{
    -fx-background-color: #ffffff;
}

.text-field{
    -fx-background-radius: 7px;
}

@font-face{
    font-family: "Alata";
    src: url('/fonts/Alata-Regular.ttf');
}

#scoreTextId{
    -fx-font-family: "Alata";
    -fx-font-size: 30px;
}

.text{
    -fx-font-family: "Alata";
}

.basic-text{
    -fx-font-family: "Alata";
    -fx-font-size: 20px;
}

.start-text{
    -fx-font-family: "Alata";
    -fx-font-size: 35px;
}

.round-text{
    -fx-font-weight: bold;
    -fx-font-family: "Alata";
    -fx-font-size: 30px;
    -fx-padding: 20px;
}

.button-text{
    -fx-font-family: "Alata";
    -fx-font-size: 20px;

}

.header-text{
    -fx-font-family: "Alata";
}

.help-text{
    -fx-font-family: "Alata";
    -fx-font-size: 30px;
}